#nav-bar{
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 5;
  display: flex;
}

#nav-bar .logo{
  width: auto;
  height: 80%;
  margin: auto 0;
}

#nav-bar .header{
  font-size: 2em;
  line-height: 2.2;
  margin-left: 10px;
  height: 100%;
}

#compose {
  /*box-sizing: content-box;*/
  margin: auto 5% auto auto;
  height: 80%;
  width: 100px;
  border-radius: 7px;
  border: 1px solid black;
  color: #00a087;
}

#compose:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

