.container .new-tweet{
  border: 2px solid lightgrey;
  margin: 10px 2em;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  display: none;
}

.new-tweet h2{
  margin: 0;
}

.new-tweet hr{
  margin-top: 0;
}

form textarea{
  width: 100%;
  padding: 5px;
}


form .counter{
  float: right;
  line-height: 2;
}

.error{
  background-color: red;
  padding-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  display: none;
}